<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registeration</title>
    <!-- BOOTSTRAP CSS LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS FILE LINK -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- FONTAWESOME LINK -->
    <script src="https://kit.fontawesome.com/5b55ad7fe0.js" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP JSS LINK -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- JS FILE LINK -->
    <script src="/static/js/script.js"></script>
</head>

<body>

    <!-- NAVBAR CODE START-->
    <nav class="navbar bgclr navbar-dark navbar-expand-md">
        <div class="container-fluid">
            <!-- Brand Icon and Name -->
            <a href="/registerationpage" class="navbar-brand mx-5 ">
                <i class="fa-sharp fa-solid fa-notes-medical fa-lg" style="color: #ffffff;"></i>
                <b>Health Sage</b>
            </a>


            <!-- Navigation Toggle Button -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- List Items -->
            <div class="collapse navbar-collapse mx-5 text-white" id="mynavbar">
                <ul class="navbar-nav ms-auto text-center">
                    <li nav-item><a href="/registerationpage" class="text-white nav-link navbar_effects me-3"><b>Home</b></a></li>
                    <li nav-item><a href="#about" class="text-white nav-link navbar_effects me-3"><b>About</b></a></li>
                    <li nav-item><a href="#contact" class="text-white nav-link navbar_effects me-3"><b>Contact Us</b></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR CODE END-->


    <!-- FIRST DIV START -->
    <div class="row bgclr">
        <!-- Left Side Div -->
        <div class="col-md-8">
            <h1 class="mx-5 mt-4 fw fw-bolder text-white">Health Sage:<br>Multiple Disease Predictor</h1><br>
            <p class="text-white text_style mx-5">

                Welcome to Health Sage, your one-stop destination for advanced disease prediction and information.
                Harnessing
                the power of cutting-edge machine learning algorithms, our platform accurately predicts diseases based
                on various factors and provides users with vital information, including detailed descriptions of
                diseases, common symptoms, and effective preventive measures. Whether you're seeking insights into a
                specific condition or looking to take proactive steps to protect your health, MedAI has got you covered.
                Additionally, we offer a convenient form for users who wish to donate blood, connecting willing donors
                with those in need. Join us today and empower yourself with knowledge while making a positive impact on
                the lives of others.
            </p>
        </div>
        <!-- FORM DIV START -->
        <div class="col-md-3 m-5">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="d-flex justify-content-center">Registeration Form</h4>
                    </div>
                    <form action="/register" method="POST" class="form">
                        <label><b>Name</b></label><br>
                        <input type="text" id="name" name="name" class="form-control"><br>
                        <label><b>Email</b></label><br>
                        <input type="email" id="email" name="email" class="form-control"><br>

                        <label><b>Password</b></label><br>
                        <input type="password" id="password" name="password" class="form-control"><br>
                        <input type="submit" class="btn btn-primary" value="Register">
                    </form> <br>
                    <p>Already a member? <a href="/loginpage">Login Here</a></p>
                </div>
            </div>
        </div>

    </div>
    <!-- FIRST DIV END -->
    <!-- SECOND DIV START -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="text_shadow mx-5 mt-4 mb-3">Machine Learning</h1>
            <p class="text_style mx-5">
                Machine learning in predicting diseases involves using algorithms and computational models to analyze
                large amounts of data and identify patterns, correlations, and risk factors associated with specific
                diseases. By leveraging the power of machine learning, healthcare professionals can make more accurate
                predictions about disease occurrence, progression, and outcomes. Through the process of data collection,
                preprocessing, feature selection, model training, evaluation, and optimization, machine learning
                algorithms learn from historical data to recognize patterns and make predictions about disease presence,
                risk, and potential outcomes. This helps in early detection, personalized risk assessment, and informed
                decision-making, ultimately leading to improved patient care and outcomes in the field of healthcare.
            </p>
        </div>
    </div>
    <!-- SECOND DIV END -->


    <!-- THIRD DIV START -->
    <div class="row" id="about">
        <div class="col-md-12">
            <h1 class="text_shadow mx-5 mt-4 mb-3">About Us</h1>
            <p class="text_style mx-5">At MedAI, we are dedicated to revolutionizing healthcare through the application
                of
                machine learning. Our
                state-of-the-art platform utilizes advanced algorithms to predict diseases with remarkable accuracy,
                empowering individuals to take control of their health. In addition to our disease prediction feature,
                we provide comprehensive information on various diseases, including detailed descriptions, common
                symptoms, and effective preventive measures. We believe that knowledge is power, and by equipping users
                with valuable insights, we aim to promote proactive healthcare practices. Furthermore, we understand the
                significance of blood donation in saving lives. To facilitate this noble cause, our platform offers a
                convenient form for users who wish to donate blood, connecting them with those in need. Join us at MedAI
                and embark on a journey towards better health, informed decisions, and making a positive impact on the
                world around us.</p>
        </div>
    </div>
    <!-- THIRD DIV END -->

    <!-- FOURTH DV START -->
    <div class="container my-3">
        <div class="row ">
            <h1 class="text_center text_shadow mb-5">Our Features & Services</h1>

            <!-- PREDICTION CARD START -->
            <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
                <div class="card card_hover" style="width: 20rem;">
                    <img src="/static/img/prediction.png" class="card-img-top"
                        style="background-color: #ffffff; width:19rem; height:12rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Disease Predictions</h5>
                        <p class="card-text text-center">
                            Proactive Health Insights</p>
                    </div>
                </div>
            </div>
            <!-- PREDICTION CARD END -->

            <!-- INFORMATION CARD START -->
            <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
                <div class="card card_hover" style="width:20rem;">
                    <img src="/static/img/information.png" class="card-img-top"
                        style="background-color: #ffffff; width:19rem; height:12rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Disease Information</h5>
                        <p class="card-text text-center">
                            Comprehensive Disease Database</p>
                    </div>
                </div>
            </div>
            <!-- INFORMATION CARD END -->

            <!-- SYMPTOMS CARD START -->
            <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4 ">
                <div class="card card_hover" style="width:20rem;">
                    <img src="/static/img/symptos.png" class="card-img-top"
                        style="background-color: #ffffff; width:19rem; height:12rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Disease Symptoms</h5>
                        <p class="card-text text-center">
                            Early Warning Signs</p>
                    </div>
                </div>
            </div>
            <!-- SYMPTOMS CARD END -->
        </div>

        <div class="row mt-3">

            <!-- PRECAUTION CARD START -->
            <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
                <div class="card card_hover" style="width: 20rem;">
                    <img src="/static/img/precaution.jpg" class="card-img-top"
                        style="background-color: #ffffff; width:19.5rem; height:12rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Disease Precautions</h5>
                        <p class="card-text text-center">
                            Vital Safety Measures</p>
                    </div>
                </div>
            </div>
            <!-- PRECAUTION CARD END -->

            <!-- BLOOD DONATION CARD START -->
            <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
                <div class="card card_hover" style="width: 20rem;">
                    <img src="/static/img/blood_donation.png" class="card-img-top"
                        style="background-color: #ffffff; width:19rem; height:12rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Donate Blood</h5>
                        <p class="card-text text-center">
                            Life-Saving Contributions</p>
                    </div>
                </div>
            </div>
            <!-- BLOOD DONATION CARD END-->

            <!-- DISEASE VIDEO START -->
            <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
                <div class="card card_hover" style="width: 20rem;">
                    <img src="/static/img/videos.jpg" class="card-img-top"
                        style="background-color: #9e2f2f; width:20rem; height:12rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Disease Videos</h5>
                        <p class="card-text text-center">
                            Informative Health Videos</p>
                    </div>
                </div>
            </div>
            <!-- DISEASE VIDEO END -->
        </div>
    </div>
    <!-- FOURTH DIV END -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->
    <!-- FOOTER CODE START-->
    <!-- Footer Section Start -->
    <div class="row" id="contact">
        <footer class="text-center text-lg-start text-white" style="background-color: #008080">
            <section class="">
                <div class="container text-center text-md-start">
                    <div class="row mt-4">
                        <!-- Health Sage Start -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase fw-bold ">Health Sage</h6>
                            <hr class="mb-2 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: white ; height: 2px" />
                            <p class="text_style">
                                Get accurate disease predictions with just a few clicks using our
                                cutting-edge
                                machine learning
                                technology. Our website uses advanced algorithms to analyze your symptoms and
                                medical
                                history,
                                providing you with personalized disease predictions to help you make informed
                                decisions
                                about your
                                health.
                            </p>
                        </div>
                        <!-- Health Sage End -->

                        <!--Services Start -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mt-3 mx-auto">
                            <h6 class="text-uppercase fw-bold">Services</h6>
                            <hr class="mb-2 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: white ; height: 2px" />
                            <p>
                                Disease Prediction
                            </p>
                            <p>
                                Disease Information
                            </p>
                            <p>
                                Blood Donation
                            </p>
                            <p>
                            </p>
                        </div>
                        <!-- Services End -->

                        <!-- Useful Link Start -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mt-3 mx-auto">
                            <h6 class="text-uppercase fw-bold">Useful links</h6>
                            <hr class="mb-2 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: white; height: 2px" />
                            <p>
                                <a href="/registerationpage" class="text-white">Home</a>
                            </p>
                            <p>
                                <a href="#about" class="text-white">About</a>
                            </p>
                            <p>
                                <a href="#contact" class="text-white">Conatct</a>
                            </p>
                            <p>
                                <a href="#!" class="text-white">Help</a>
                            </p>
                        </div>
                        <!-- Useful Link End -->

                        <!-- Contacts Start -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 b-md-0">
                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr class="mb-2 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color:white ; height: 2px" />
                            <p><i class="fas fa-home mr-3"></i> Lucknow, India</p>
                            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                        </div>
                        <!-- Contacts End -->
                    </div>
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="/registerationpage">Health Sage: Multiple Disease Predictor</a>
            </div>
            <!-- Copyright -->

        </footer>
    </div>
    <!-- Footer Section End -->


</body>

</html>